<article class="article_detail">
    <header>
        <p class="source">{{source}}</p>
        <p class="date">{{formatDate}}</p>
        <h1 class="title">{{title}}</h1>
        <h3 class="lead">{{& lead}}</h3>
        <a href="{{sourceUrl}}" class="original">Notícia original</a>
    </header>
    {{#image.url}}
    <div class="article_image">
        <img src="{{image.url}}" alt="" />
        <div class="details">
            {{#image.description}}<p class="caption">{{image.description}}</p>{{/image.description}}
            {{#image.author}}<p class="author">{{image.author}}</p>{{/image.author}}
        </div>
    </div>
    {{/image.url}}
    <div class="article_body">
        {{& body}}
    </div>
    <footer>
        <p class="source">{{source}}</p>
        <p class="date">{{formatDate}}</p>
        <a href="{{sourceUrl}}" class="original">Notícia original</a>
    </footer>
</article>

<aside class="related_articles">
    <h2>Notícias relacionadas</h2>
</aside>

<aside class="more_articles">
    <h2>Notícias de [categoria]</h2>
</aside>