<section class="news_list_container">

    <h2>Destaques</h2>
    <ul class="list news_list highlights_list clearfix">
        {{#highlights}}
        <li>
            <a href="/artigo{{slug}}">
                <div class="thumb" {{#image.url}}style="background-image:url({{image.url}})"{{/image.url}}>
                    <p class="source {{source}}">{{source}}</p>
                </div>
                <div class="details">
                    <p class="date">{{formatDate}}</p>
                    <p class="title">{{title}}</p>
                    <p class="lead">{{& lead_text}}</p>
                </div>
            </a>
        </li>
        {{/highlights}}
    </ul>

    <h2>Últimas</h2>
    <ul class="list news_list clearfix">
        {{#latested}}
        <li>
            <a href="/artigo{{slug}}">
                <div class="details">
                    <p class="source {{source}}">{{source}}</p>
                    <p class="date">{{formatDate}}</p>
                    <p class="title">{{title}}</p>
                    <p class="lead">{{& lead_text}}</p>
                </div>
            </a>
        </li>
        {{/latested}}
    </ul>
    
</section>